<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928021752473-uagd4n51uujuv4coe4t0a0c3rmfch2ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928021752473-uagd4n51uujuv4coe4t0a0c3rmfch2ub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928021752473-74pvpg7l5osrb45rmq8dnv2ok25vhe76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgTbvcjfGA6SpqyCQ9O9PK4vGBib0vSg</string>
	<key>GCM_SENDER_ID</key>
	<string>928021752473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlt.molisport</string>
	<key>PROJECT_ID</key>
	<string>moli-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>moli-sport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928021752473:ios:070bcc605f39703e65a608</string>
</dict>
</plist>